APPLICATION_NAME=api

DATABASE_URL=jdbc:postgresql://database:5432/events
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password

STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_ENDPOINT=http://minio:9000
STORAGE_BUCKET=events
STORAGE_REGION=us-east-1

JWT_SECRET=secret